<div class="date">
    <h2 class="today">
        今日の日付<br>
        <%= Date.today %>
    </h2>
</div>
    
<div class=>
    <%= flash[:notice] %>
    <h3>
        今日の勉強時間
    </h3>
    <div class="timer">
        合計時間   〇〇時間〇〇分
    </div>
</div>

<div class="btn-container">
    
</div>