<div class="date">
    <h2 class="today">
        今日の日付<br>
        <%= Date.today %>
    </h2>
</div>
    
<div class=>
    <%= flash[:notice] %>
    <% if @current_user %>
        <h3>
            本日の勉強時間
        </h3>
        <div class="timer">
            合計時間  <%= @hours %>時間  <%= @minuits %>分
        </div>
    <% end %>
</div>

<div class="btn-container">
    
</div>